@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}

:root {
    --white: #fff
    --whitesmoke: #f9f9f9
    --lisht-grey: #ececec
    --grey: #c4c4c4
    --midium-grey: #a7a7a7
    --deep-grey: #343434
    --black: #000
    --blue: #1877f3
    --red: #cf3c3f
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
}